@{
    ViewData["Title"] = "New Client";
    Layout = "_Layout";

}
@using HairSalon.Models;
@model HairSalon.Models.Client;

<h1>Add Client</h1>
@using (Html.BeginForm())
{
    <!-- <input type="hidden" id="StylistId" name="StylistId" value="@ViewBag.StylistId" /> -->

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
    </div>

    <input type="submit" value="Add New Client" />
}