

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome, Eau Claire</a>.</p>
</div>
<h2>@Html.ActionLink("See all stylists", "Index", "Stylist")</h2>
<h2>@Html.ActionLink("Add a stylist", "Create", "Stylist")</h2>