@{
    ViewData["Title"] = "Stylists";
    Layout = "_Layout";
}
<h1>Stylists</h1>

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;
    <ul>
@foreach(Stylist stylist in Model)
{
    <li>@Html.ActionLink($"{@stylist.Name}", "Details", new  { id = stylist.StylistId }) | @Html.ActionLink("Remove", "Delete", new  { id = stylist.StylistId })</li>
}
</ul>

<p>@Html.ActionLink("Add Stylist", "Create")!</p>